<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1> <%= KindOfDay%> </h1>
    <ul>
      <li>호주 자료 조사</li>
      <li>오이도 데이트</li>
      <li>호텔 예약</li>
    </ul>

    <form action="/" method="post">
      <input type="text" name="todo" value="">
      <button type="submit" name="button">저장</button>
    </form>
  </body>
</html>
