<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <%
    if(KindOfDay === "Saturday" || KindOfDay === "Sunday"){ %>
      <h1 style="color : purple"><%= KindOfDay %> ToDo List</h1>
    <% } else{ %>
      <h1 style="color : blue"><%= KindOfDay %> ToDo List</h1>
    <% } %>
  </body>
</html>
